.checkbox {
	-webkit-appearance: none;
	background : transparent ;
	border : 1px solid $checkbox-color ;
	display: inline-block;
	width : $checkbox-size ;
	height : $checkbox-size ;
	&:active, &:checked:active {
		background : $checkbox-color ;
	}
	&:checked {
		background : $checkbox-color ;
	}
}
