.dropdown {
	position : relative ;
	& > .title {
		color : $dropdown-title-color ;
		background : $dropdown-title-background ;
		margin-bottom : 0 ;
	}
	&:hover > .title {
		color : $dropdown-title-hover-color ;
		background : $dropdown-title-hover-background ;
	}
	& > .items {
		display : none ;
		position : absolute ;
		z-index : 1 ;
		width : 100% ;
		background : $dropdown-items-background ;
		& > .item {
			& > a {
			}
		}
		& > .item:hover {
			background : $dropdown-item-hover-background ;
			color : $dropdown-item-hover-color ;
		}
	}
	&:hover {
		color : $link-color ;
		& > .items { display : block ; }
	}
}
