// Colors: Shaded of black and white number is determined by hex
// example $C-0=#000000
$C-0 : #000000 ;
$C-1 : #111111 ;
$C-2 : #222222 ;
$C-3 : #333333 ;
$C-4 : #444444 ;
$C-5 : #555555 ;
$C-6 : #666666 ;
$C-7 : #777777 ;
$C-8 : #888888 ;
$C-9 : #999999 ;
$C-a : #aaaaaa ;
$C-b : #bbbbbb ;
$C-c : #cccccc ;
$C-d : #dddddd ;
$C-e : #eeeeee ;
$C-f : #ffffff ;

$theme-colors: (
	(
		"primary" : $C-6 ,
		"secondary" : $C-4 ,
		"0" : $C-0 ,
		"1" : $C-1 ,
		"2" : $C-2 ,
		"3" : $C-3 ,
		"4" : $C-4 ,
		"5" : $C-5 ,
		"6" : $C-6 ,
		"7" : $C-7 ,
		"8" : $C-8 ,
		"9" : $C-9 ,
		"a" : $C-a ,
		"b" : $C-b ,
		"c" : $C-c ,
		"d" : $C-d ,
		"e" : $C-e ,
		"f" : $C-f ,
	)
) ;
// General Settings
$enable-rounded : false ;
$enable-shadows : true ;
$enable-gradients : false ;
$enable-grid-classes : true ;
$enable-print-styles : true ;

$spacer : 4rem ;
$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3)
) ;

// Components
$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{red}'/%3e%3c/svg%3e"), "#", "%23") !default;

// Body
$body-bg :		$C-0 ;
$body-color :		$C-6 ;
$font-size-base :	1.5rem ;

// Headers
$h1-font-size:			5rem ;
$h2-font-size:			4rem ;	
$h3-font-size:			3.5rem ;
$h4-font-size:			3rem ;
$h5-font-size:			2.5rem ;
$h6-font-size:			2rem ;

// Link
$link-color :			$C-a ;
$link-hover-color :		$C-f ;
$link-decoration :		none ;
$link-hover-decoration :	none ;

// List
$list-inline-padding : 0 ;

// hr
$hr-border-color : $C-7 ;

// Card
// $card-bg: $C-0 ;
// $card-color : ;
// $card-cap-bg : ;
// $card-cap-color : ;
// $font-size-base:		1rem ;

// Forms

 // Input Text

$border-radius : 0px ;
$border-radius-lg : 0px ;
$border-radius-sm : 0px ;

$input-bg : transparent ;
$input-border-color : $body-color ;

$input-focus-bg : $input-bg ;
$input-focus-color : $input-border-color ;
$input-focus-border-color: $input-border-color ;

$input-color : $input-border-color ;

$input-line-height : 3 ;
$input-height : calc(#{$input-line-height * 1em} + #{$input-height-border}) ;
$input-font-size : 1rem ;

// Checkbox

$checkbox-size : 1rem ;
$checkbox-color : map-get($theme-colors, "primary") ;
$checkbox-textbox-friend-size : calc( (#{$input-line-height * 1em} + #{$input-padding-y}) / 3 ) ;
// $checkbox-textbox-friend-size : calc(#{$input-line-height * 1em}) ;

// Buttons

 $enable-gradients:		true ;
 $input-btn-border-width :	0px ;


 // Custom Components
 $dropdown-title-color : $body-color ;
 $dropdown-title-hover-color : $link-hover-color ;
 $dropdown-title-background : $C-a ;
 $dropdown-title-hover-background : $C-1 ;
 $dropdown-items-background : $C-2 ;
 $dropdown-item-hover-background : $C-1 ;
 $dropdown-item-hover-color : $link-hover-color ;
