// Colors: Shaded of black and white number is determined by hex
// example $C-0=#000000
$C-0 : #000000 ;
$C-1 : #111111 ;
$C-2 : #222222 ;
$C-3 : #333333 ;
$C-4 : #444444 ;
$C-5 : #555555 ;
$C-6 : #666666 ;
$C-7 : #777777 ;
$C-8 : #888888 ;
$C-9 : #999999 ;
$C-a : #aaaaaa ;
$C-b : #bbbbbb ;
$C-c : #cccccc ;
$C-d : #dddddd ;
$C-e : #eeeeee ;
$C-f : #ffffff ;

$theme-colors: map-merge(
	(
		"0" : $C-0 ,
		"1" : $C-1 ,
		"2" : $C-2 ,
		"3" : $C-3 ,
		"4" : $C-4 ,
		"5" : $C-5 ,
		"6" : $C-6 ,
		"7" : $C-7 ,
		"8" : $C-8 ,
		"9" : $C-9 ,
		"a" : $C-a ,
		"b" : $C-b ,
		"c" : $C-c ,
		"d" : $C-d ,
		"e" : $C-e ,
		"f" : $C-f ,
	) ,
	$theme-colors
) ;

// General Settings
$enable-rounded : false ;
$spacer : 4rem ;
$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3)
) ;

// Body
$body-bg :		$C-0 ;
$body-color :		$C-4 ;
$font-size-base :	1.5rem ;

// Headers
$h1-font-size:			5rem ;
$h2-font-size:			4rem ;	
$h3-font-size:			3.5rem ;
$h4-font-size:			3rem ;
$h5-font-size:			2.5rem ;
$h6-font-size:			2rem ;

// Link
$link-color :			$C-a ;
$link-hover-color :		$C-f ;
// $link-decoration :		none ;
$link-hover-decoration :	none ;

// Buttons

// hr
$hr-border-color : $C-7 ;

// Card
// $card-bg: $C-0 ;
// $card-color : ;
// $card-cap-bg : ;
// $card-cap-color : ;
// $font-size-base:		1rem ;

 $enable-gradients:		true ;
