doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Dark
		link(rel='stylesheet' href='/dark/public/dark.css')
	body.pl-2
		h1 Dark
		p.pl-2
			| A dark bootstrap sass theme.
		h2 Typography
		ul.list-unstyled.pl-2
			li
				span.h3 General Bootstrap Settings
				ul.list-unstyled.pl-2
					li spacer=4rem
					li font-size-base=1.5rem
			li
				span.h3 Color Classes
				ul.list-unstyled.pl-2
					li gray classes: 0, 1, 2, ..., f
			li
				span.h3 Body Settings
				ul.list-unstyled.pl-2
					li background: black
					li color: #4
			li
				span.h3 Header Settings
				ul.list-unstyled.pl-2
					li.h1 h1 size: 5rem
					li.h2 h2 size: 4rem
					li.h3 h3 size: 3.5rem
					li.h4 h4 size: 3rem
					li.h5 h5 size: 2.5rem
					li.h6 h6 size: 2rem
			li
				span.h3 Link Settings
				ul.list-unstyled.pl-2
					li: a(href='#') color: #a
					li: a(href='#') hover color: #f
				span.h3 Horizontal Rule
				hr
			li
				span.h3 Buttons
				div.pl-2
					button.btn.btn-primary(type='button') Primary Button
					button.btn.btn-secondary(type='button') Secondary Button
			li
				h3 Forms
				form.password-hide-1.pl-2
					div.d-flex.mb-1
						input.password.form-control(type='password' placeholder='Input Text')
						input.checkbox(type='checkbox')
					input.confirm-password.form-control(type='password' placeholder='Input Text')
			li
				h3 Carousel
				div#carouselExample(class='carousel slide' data-ride='carousel')
					div.carousel-inner
						ol.carousel-indicators
							li.active(data-target='#carouselExample' data-slide-to='0')
							li(data-target='#carouselExample' data-slide-to='1')
							li(data-target='#carouselExample' data-slide-to='2')
						div.carousel-inner
							div.carousel-item.active.text-center.pb-1
								span.d-block.w-100 First Slide
								// img.d-block.w-100(src='...' alt='First Slide [800x400]' data-holder-rendered='true')
							div.carousel-item.text-center.pb-1
								span.d-block.w-100 Second Slide
							div.carousel-item.text-center.pb-1
								span.d-block.w-100 Third Slide
						a.carousel-control-prev(href='#carouselExample' role='button' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
						a.carousel-control-next(href='#carouselExample' role='button' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next
		h2 Custom Components
		p.pl-2 These classes are some things I implemented.
		ul.list-unstyled.pl-2
			li
				span.h3 Hover Dropdown
				p.pl-2
					| Bootstrap's dropdown menu relies on javascript.
					| This dropdown just uses scss.
				div.dropdown.ml-2
					h4.title.pl-1 Dropdown
					ul.items.list-unstyled
						li.item.pl-2 item1
						li.item.pl-2 item2
						li.item.pl-2 item3
		h2 Custom Layouts
		ul.list-unstyled.pl-2
			li: ul.list-unstyled.pl-2
				li: a.h3(href='/dark/layout-fixed-1') layout-fixed-1
				li: p.pl-2
					| Two column layouts with one column fixed is not
					| easily implemented with html and css because tags
					| that have a css fixed display property do not affect
					| how other tags are layed out. Most people just
					| use an anchor div to push the main content column out
					| of the way of the fixed column, which is weird because
					| the anchor has no content and is just used to assist in
					| the styling.
				li: p.pl-2
					| This implementation uses a flex box with a
					| fixed height of 100vh and two flex containers.
					| The column with scroll is specified to scroll
					| when overflowed; however, the browser does not
					| remember the scroll position on refresh, so
					| I used js to implement that feature.
				li: h4 layout-fixed-1
				li: p.pl-2 Id for the layout's flex container.
				li: h4 fixed-column
				li: p.pl-2 Id for the layouts fixed column.
				li: h4 main-column
				li: p.pl-2 Id for the layouts main column.
		script(src='/dark/public/dark.js')
