// @import '../dark.scss' ;
//
// no flexwrap ->
//		main column's text can be compressed, but no wrapping of columns.
//		
// flexwrap ->
//		main column's text cannot be compressed
//		fixed column's text changes height to 100%.
// I want the flexbox to stack if width is infriged.
// But, it doesn't stack.
// So, current solution is to change the flexbox
// to column using media queries. For specific use cases.

#layout-fixed-1 {
	display : flex ;
	height : 100vh ;
}
#fixed-column {
	width : 750px ;
	height : 100% ;
}
#main-column {
	flex : 1 1 auto ;
	flex-shrink : 1 ;
//	visibility : hidden ; // triggered by javascript
	overflow-x : hidden ;
	overflow-y : auto ;
}
@media (max-width: 800px) {
	#layout-fixed-1 {
		flex-direction : column ;
		height : auto ;
		width : 100% 
	}
	#fixed-column {
	}
	#main-column {
	}
}
